main .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  text-align: center;
}

.player1,
.player2,
.player3,
.player4 {
  position: relative;
  padding: 5rem;
  border-radius: 0.5em;
  color: #d8c99b;
  text-shadow: 1px 1px 1px hsl(197, 20, 64);
}

.player1 {
  background-color: #a4243b;
  border: 0.5rem solid #d8c99b;
}

.player2 {
  background-color: #d8973c;
  border: 0.5rem solid #d8c99b;
}

.player3 {
  background-color: #bd632f;
  border: 0.5rem solid #d8c99b;
}

.player4 {
  background-color: #273e47;
  border: 0.5rem solid #d8c99b;
}

.decrement5,
.increment5,
.decrement10,
.increment10,
.decrement1,
.increment1 {
  box-shadow: 0px 1px 0px 0px hsl(197, 20, 64);
  background-color: #eae0c2;
  border-radius: 11px;
  display: inline-block;
  color: #36382e;
  padding: 12px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  cursor: pointer;
  position: relative;
  top: 20px;
}

.decrement5:hover,
.increment5:hover,
.decrement10:hover,
.increment10:hover,
.decrement1:hover,
.increment1:hover {
  background-color: #ccc2a6;
}

.decrement5:active,
.increment5:active,
.decrement10:active,
.increment10:active,
.decrement1:active,
.increment1:active {
  top: 19px;
}

.centralButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4px;
}

// .player1 .decrement5,
// .player2 .decrement5,
// .player3 .decrement5,
// .player4 .decrement5 {
//   position: absolute;
//   top: 20px;
//   left: 20px;
// }

// .player1 .increment5,
// .player2 .increment5,
// .player3 .increment5,
// .player4 .increment5 {
//   position: absolute;
//   top: 20px;
//   right: 20px;
// }

// .player1 .increment10,
// .player2 .increment10,
// .player3 .increment10,
// .player4 .increment10 {
//   position: absolute;
//   bottom: 20px;
//   right: 20px;
// }

// .player1 .decrement10,
// .player2 .decrement10,
// .player3 .decrement10,
// .player4 .decrement10 {
//   position: absolute;
//   bottom: 20px;
//   left: 20px;
// }

.p1Life,
.p2Life,
.p3Life,
.p4Life {
  font-size: 4rem;
  color: #36382e;
  background-color: #eae0c2;
  box-shadow: 1px 1px 1px 0px hsl(197, 20, 64);
  border-radius: 0.25em;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  text-shadow: 1px 1px 1px #ffffff;
}

// .increment1,
// .decrement1 {
//   margin-top: 2rem;
// }

h2 {
  margin-bottom: 2rem;
}

.p1p2CommanderTracker {
  order: 5;
}
