main .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 1rem;
  text-align: center;
}

main {
  padding-top: 7rem;
}

.player1,
.player2,
.player3,
.player4,
.player5,
.player6 {
  position: relative;
  padding: 5rem;
  border-radius: 0.5em;
  color: #d8c99b;
  text-shadow: 1px 1px 1px hsl(197, 20, 64);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  border: 0.5rem solid #d8c99b;
}

.player1 {
  background-color: #a4243b;
}

.player2 {
  background-color: #d8973c;
}

.player3 {
  background-color: #bd632f;
}

.player4 {
  background-color: #273e47;
}

.player5 {
  background-color: #0d526d;
}

.player6 {
  background-color: #555a49;
}

.player1Buttons,
.player2Buttons,
.player3Buttons,
.player4Buttons,
.player5Buttons,
.player6Buttons,
.d20Button {
  box-shadow: 0px 1px 0px 0px hsl(197, 20, 64);
  background-color: #eae0c2;
  border-radius: 11px;
  display: inline-block;
  color: #36382e;
  padding: 12px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  cursor: pointer;
  position: relative;
  top: 20px;
  transition: background-color 0.2s;
}

.player1Buttons:hover,
.player2Buttons:hover,
.player3Buttons:hover,
.player4Buttons:hover,
.player5Buttons:hover,
.player6Buttons:hover,
.d20Button:hover {
  background-color: #ccc2a6;
}

.player1Buttons:active,
.player2Buttons:active,
.player3Buttons:active,
.player4Buttons:active,
.player5Buttons:active,
.player6Buttons:active,
.d20Button:active {
  top: 19px;
}

.centralButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4px;
}

.p1Life,
.p2Life,
.p3Life,
.p4Life,
.p5Life,
.p6Life {
  font-size: 4rem;
  color: #36382e;
  background-color: #eae0c2;
  box-shadow: 1px 1px 1px 0px hsl(197, 20, 64);
  border-radius: 0.25em;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  text-shadow: 1px 1px 1px hsl(197, 20, 64);
  cursor: default;
}

h2 {
  margin-bottom: 2rem;
  font-weight: 700;
  cursor: default;
}

input[type="text"] {
  background-color: #555a49;
  border: 1px solid #eae0c2;
  border-radius: 0.25em;
  color: #eae0c2;
}

.diceRoller {
  position: absolute;
  top: 20px;
  left: 900px;
  background-color: #555a49;
  border: 2px solid #d8c99b;
  padding: 1rem;
  border-radius: 0.5em;
}

.d20Button {
  top: 0;
}

.d20Button:active {
  top: 1px;
}

.diceRoller {
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.diceResult {
  color: #d8c99b;
  text-shadow: 1px 1px 1px hsl(197, 20, 64);
  font-size: 4rem;
  font-weight: 600;
}
